.image-gallery {
    position: relative;
    background-color: black;
    border-style: solid;
    border-width: 28px;
    border-radius: 14px;
    border-color: rgb(0, 0, 0);
    max-width: 75%;
    margin: auto;
    text-align: center;
}

.image-container {
    position: relative;
    margin: auto;
    min-height: 200px;
    max-width: 75%;
    overflow: hidden;
    box-shadow: 0 0 5px var(--c2);
}

.image-gallery img {
    border-style: solid;
    position: absolute;
    transform: translateX(-50%);
    user-select: none;
}

.image-name {
    position: absolute;
    bottom: -36px;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 10px;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.1s ease-in;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.1s ease-out;
}

.nav-button-left  {
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    background-color: transparent;
    left: 0;
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav-button-right  {
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    background-color: transparent;
    left: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}
